@page
@model ASP_NET_Core_2_0.Pages.ProductsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<h1>Products List</h1>
<form method="post">
    <table>
        <thead>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Title</td>
                    <td>@product.Price</td>
                    <td><a asp-page="./Edit" asp-route-id="@product.Id">Edit</a></td>
                    <td><button type="submit" asp-page-handler="delete" asp-route-id="@product.Id">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</form>
